@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

а{
    text-decoration: none;
    border: none;
    color:#FFFCF7; 
    text-decoration: none;

}
ul{
    padding: 0;
    margin: 0;
    list-style: none;

}
.block {
  border:1px solid black;
  width: 200px;
  height: 300px;
  display:inline-block;
  margin:10px;
}

body{
 /* font-family: "Philosopher", sans-serif; */
  font-weight: 400;
  font-style: normal;
  color:#FFFCF7;

} 

.banner{
background-image: url('/images/history.png');
background-repeat: no-repeat; 
background-position: center top; 
padding: 20px 0 20px;
font-size: 24px;
line-height: 29px;
height: 690px;
}

.container{
    max-width: 1400px; 
    margin: 0 auto;
    padding: 0px 40px;  
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu{
    display: flex;
}

.menu-item{
    padding-right: 30px;
}
.menu-link{
   text-decoration: none;
    border: none;
    color: #FFFCF7

}


.hist {
    background-color: #A1B1CB; 
    padding: 40px 0;
    margin-top: 0;
}
.hist-text{
    font-size: 24px;
    line-height: 29px;
    max-width: 900px; 
    margin: 0 auto; 
    text-align: center; 
    color: #8E120A;

}
.text2 {
    font-size: 24px;
    line-height: 29px;
    max-width: 900px; 
    margin: 0 auto; 
    text-align: center; 
    color: #8E120A;

}
.image-gallery {
    margin-top: 0px; 
}

.image-gallery img {
    display: block; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.contacts {
background-image: url('/images/history3.png');
background-repeat: no-repeat; 
background-position: center top; 
display: flex;
justify-content: center;
padding:30px 0; 
text-align: center; 
margin: 0;
height: 350px;
margin-top: 0;

}
.foter h2 {
    
    font-size: 36px; 
    margin: 0px 0px 25px 0px; 
} 

.foter p {
    font-size: 24px; 
    line-height: 29px; 
    margin-bottom: 10px; 
} 